{% extends 'base.html.jinja' %}
{% import 'style/' ~ article_style ~ '.html.jinja' as style %}

{% block head_content %}
{{super()-}}
<title>{{ jats.title }}</title>
{{style.article_css_style()-}}
{% endblock head_content %}

{% block body_content %}
{{style.article_layout(jats, dsi_base_url)-}}
{% endblock body_content %}
